[general]
keywords = your,keywords,comma,separated    # All tweets in your stream with one or more of these keywords will be stashed
chunk_size = 1000                           # Number of tweets to gather before stashing in a file
database_path = path/to/database            # Path to your sqlite3 database

[keys]
consumer_key = YOUR_CONSUMER_KEY            # Your app's twitter consumer key
consumer_secret = YOUR_CONSUMER_SECRET      # Your app's twitter consumer secret
access_key = YOUR_ACCESS_KEY                # Your app's twitter access key
access_secret = YOUR_ACCESS_SECRET          # Your app's twitter access secret